<div>
    {{!-- NOT WORKING --}}
    {{!-- <div>{{userId}} {{currUserId}}</div> --}}
    <div class="card" data-comment-id="{{id}}">
        <div class="card-body">
            <p>{{commentText}}</p>
            <div class="display-flex justify-flex-end">
                <p>{{user.username}} , {{formatDate dateCreated}}</p>
            </div>
        </div>
    </div>
</div>

